[package]
name = "fnpm"
version = "0.1.1"
edition = "2021"
description = "A unified package manager interface that helps teams standardize their workflow while allowing developers to use their preferred tool (npm, yarn, or pnpm)"
authors = ["Jairo Fernandez"]

[target.'cfg(target_arch = "aarch64")'.dependencies]
libc = "0.2"

[dependencies]
clap = { version = "4.4", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
inquire = "0.6"
colored = "2.0"
anyhow = "1.0"
